.container{
  font-family: 'Roboto';
  transition: .3s;
}
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 0 10px 0px 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #6dafcc;
}
nav a.active {
  background-color: black;
}
